* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark {
  background-color: rgb(32, 32, 32);
  color: rgb(226, 226, 226);
}

.title {
  padding-top: 1em;
}

.themeButton {
  position: absolute;
  left: 100px;
  top: 50px;
}

.input {
  margin-top: 1em;
}

.listItem {
  display: flex;
  margin: 1em 0;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
}

.listItem > p {
  width: 10em;
}

.whiteBorder {
  border: 1px solid white;
}