* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  position: relative;
}

.dark {
  background-color: rgb(32, 32, 32);
  color: rgb(226, 226, 226);
}

.title {
  text-align: center;
  padding-top: 1em;
}

.themeButton {
  position: absolute;
  left: 100px;
  top: 50px;
}

.input {
  text-align: center;
  margin-top: 1em;
}

.listItem {
  text-align: center;
  margin: .5em;
}